html {
  background-color: black;
}
ul {
  list-style-type: none;
  /* margin: 0; */
  padding: 0;
  overflow: hidden;
  background-color: #FFDB9A;
  position: fixed;
  bottom: 0;
  width: 90%;
  margin: auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.center {
  /* padding-top: 18rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-bottom: 0rem; */
  width: 60%;
  height: 60%;
  margin: auto;
  padding-bottom: 0rem;
}

.name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-top: 2rem;
  padding-right: 2rem;
}


img {
  /* padding-top: 18rem; */
  display: block;
  /* margin-left: auto;
  margin-right: auto;
  width: auto; */
  padding-bottom: 10rem;
  width: 90%;
  margin: auto;
}

.aboutme{
  padding-bottom: 0rem;
}

p {
  /* display: block; */
  color: white;
  font: 1.2em "Fira Sans", sans-serif;
  padding-bottom: 3rem;

  /* padding-top: 40rem;
  padding-left: 10rem; */
}

.portrait{
  padding-bottom: 2rem;
  padding-top: 1rem;
  width: 90%;
  margin: auto;
  max-width: 30rem;
}

/* .vertical {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  float:right;
  padding-left: 0rem;
  padding-top: 1rem;
} */

@media only screen and (min-width: 900px)  {
  .center {
    padding-top: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-bottom: 0rem;
  }
}
